<html>
    <head>
        <meta charset="utf-8">
        <title>Demo learning pure CSS</title>
        <link rel="stylesheet" type="text/css" href="css/pretty.css">
    </head>
    <body>
            <h1>This is it bois!</h1>
        <div class="words">
            <div>
                <div class="box box1">
                    <p>Don't be too amazed, I am still learning.
                    Not exactly sure how to implement this into
                    my latest project.Have been having issues
                    with styling and i want to show that i can 
                    learn and do this.Might just take a lil bit more time.</p>
                    <h2>Demogorgon</h2>
                </div>
                <div class="bg"></div>
            </div>
             <div>
                <div class="box box2">
                    <p>I would like to work for Mined Minds.
                    I can be useful to the company and
                    I will be learning more about front end 
                    to make sure i can style things properly 
                    and fancy for them.</p>
                    <h2>Demogorgon</h2>
                </div>
                <div class="bg"></div>
            </div>
             <div>
                <div class="box box3">
                    <p>Not to sound like the annoying
                    chick from the Udemy commercials but
                    i can't wait to see what all i can do.</p>
                    <h2>Demogorgon</h2>
                </div>
                <div class="bg"></div>
            </div>
        </div>  

    </body>    



</html>